:root {
    --dialog-blue: #BF1EC2;
    --dialog-blue-light: #FF4B97;
    --button-shadow: #969696;
    --button-highlight: #ffffff;
    --button-face: #c0c0c0;
    --window-frame: #000000;
    --border-field: inset -1px -1px var(--button-highlight),
                    inset 1px 1px var(--button-shadow),
                    inset -2px -2px var(--button-face),
                    inset 2px 2px var(--window-frame);
}

.home-page-html, .home-page-body {
    overflow: hidden;
    margin: 0;
    height: 100%;
}

.home-page-body {
    background-color: #FF8CB5;
    display: flex;
}

.window {
    position: absolute;
}

.container-website {
    display: flex;
}

.window-content {
    padding: 10px;
}

#movableWindow {
    width: 60%;
    height: 70%;
    top: 15%;
    right: 22%;
}

#otherWindow {
    background-color: #fdfeff;
    margin: 10px;
    margin-top: 5px;
    padding: 3px 4px;
    border: none;
    box-shadow: var(--border-field);
    background-color: var(--button-highlight);
    box-sizing: border-box;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: 0;
}

.hidden {
    display: none;
}

.taskBar {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    bottom: 0;
    width: 100%;
    height: 30px;
}

.taskBar button {
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 12px;
    min-width: 80px;
    min-height: 27px;
    box-sizing: border-box;
}

.apps {
    margin: 25px;
}

.website {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.website p {
    font-family: "Pixelated MS Sans Serif", Arial;
    color: #ffeeee;
    margin: 0;
    padding-top: 8px;
}

.website img {
    width: 55px;
    max-width: 100%;
}

.reloj {
    font-family: "Pixelated MS Sans Serif", Arial;
    font-size: 16px;
    color: #333;
    margin-right: 0.25%;
    padding: 0 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    box-shadow: var(--border-field), 0 1px 1px rgba(0, 0, 0, 0.1);
    align-self: flex-end;
    background-color: #c1c1c1;
    min-width: 80px;
    min-height: 27px;
}

#Minimize, #Close{
    width: 20px;
    height: 20px;
    margin-left: 5px;
}

.button-search-bar {
    margin-top: 10px;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 6px;
    min-width: 35px;
    min-height: 35px;
}

#search-bar {
    margin-top: 3px;
    margin-left: 1%;
    margin-right: 1%;
    min-height: 35px;
    width: 80.5%;
    padding: 10px;
    font-size: 16px;
}

.navegador {
    display: flex;
    align-items: center;
}

.ventana h1 {
    background:  linear-gradient(
        90deg,
        var(--dialog-blue),
        var(--dialog-blue-light)
      );
    color: #fafafa;
    font-family: "Pixelated MS Sans Serif", Arial;
    font-weight: normal;
    font-size: 30px;
    width: 580px;
    display: flex;
    padding-top: 15px;
    padding-bottom: 10px;
    padding-left: 17px;
    margin-top: 60.5%;
    margin-left: -53%;
    transform: rotate(270deg) translateY(-50%);
}

#miVentana {
    min-width: 450px !important; /* Cambia este valor según sea necesario */
    min-height: 600px;
    margin: 0;
    position: fixed;
    box-shadow: var(--border-field);
    background: #c0c0c0;
    box-sizing: border-box;
    bottom: 36px;
    z-index: 1000;
}

#configUser{
    margin-left: 13.5%;
    margin-top: 21.5%;
    width: 86%;
    height: 80px;
    font-size: 20px;
}

#logOut{
    margin-left: 13.5%;
    width: 86%;
    height: 80px;
    font-size: 20px;
}

.blog{
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: auto; /* Permite el desplazamiento en el body */
}

.blog-presentacion{
    background-color: #FF4B97;
    padding: 30px;
    display: flex;
    justify-content: center;
    color: #ffeeee;
}

.index{
    background-color: #ffcedf;
    color: #BF1EC2;
}

.entry-card{
    background-color: #c0c0c0;
    border: 1px solid #000000;
    margin: 10px;
    padding: 20px;
    width: 200px;
    height: 200px;
}

.entry-card h5{
    font-size: 25px;
    margin: 0;
}

.entry-card p {
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
}

.EntryCard-list {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Asegúrate de que este valor sea positivo */
    justify-content: flex-start; /* O space-between si quieres espacio entre ellas */
    align-items: flex-start; /* Para evitar que los elementos se alineen mal verticalmente */
}

.entry{
    margin: 10px;
}

.pagination{
    display: flex;
    justify-content:center;
    margin: 10px;
    align-items: center;
}

.pagination span{
    margin: 10px;
}